body {
    font-family: 'Kanit', sans-serif;
    margin: 0;
}

.section-flexible {
    display: flex;
    padding-bottom: 2%;
    margin-bottom: 80px;
}

h1 {
    font-size: 50px;
}

.hd-text {
    color: blue;
}

#main-sec div {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.image-side img {
    width: 70%;
}

.btn-hr {
    text-decoration: none;
    background-color: aquamarine;
    padding: 10px 40px;
    background-image: linear-gradient(skyblue, blue);
    color: brown;
    text-align: center;
}

#main-sec {
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
    overflow: hidden;
}

#dream-sec {
    background-image: url('../images/dream-bg.png');
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: right;
}

#dream-sec div {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

#dream-sec div img {
    width: 80%;
}

.exp-h {
    margin-left: 2%;
}

.section-flexible div {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.exp-item {
    box-shadow: 10px 10px 40px gray;
    width: 45%;
    margin-left: 20px;
    margin-right: 5%;
    padding-left: 2%;
    border-radius: 10px;
}

.exp-item h1 {
    font-size: 30px;
}

.exp-item h3 {
    color: tomato;
}

#experience-area-design {
    background-image: url('../images/exp-bg.png');
    background-position: left;
    background-repeat: no-repeat;
    overflow: hidden;
}

#fu-stc-dev {
    border-left: 7px solid rgb(6, 144, 236);
    width: 100%;
}

#bb-dev {
    border-left: 7px solid rgb(223, 10, 173);
}

footer {
    text-align: center;
    color: aqua;
    border-radius: 10px;
    background-color: grey;
}